SPOTIFY_CLIENT_ID=coloque_aqui
SPOTIFY_CLIENT_SECRET=coloque_aqui
ALLOW_ORIGIN=*
# push opcional
FCM_SERVICE_ACCOUNT_JSON=
FCM_TOPIC=podcast_36pSkw1EtZgTnNrXmJcNPm
CRON_SCHEDULE=*/30 * * * *
SHOW_ID=36pSkw1EtZgTnNrXmJcNPm
DATA_PATH=.data/last.json
PORT=3000
